extends layout

block content
  h1= title
  p Lista de urls de test para #{title}

  .mb-2
    button
      a(href="https://saving-goals.herokuapp.com/") Home

  
  h5 Metas con movimientos
  h5
    small getGoals()
      span.d-none http://localhost:8080/Andrea/savingGoals/V00/getGoals
  ul
    li
      a(href="https://saving-goals.herokuapp.com/savingGoalAccounts/V02/transactions/?secuenceNumber=1") Goals Movements empty
      span &nbsp;https://saving-goals.herokuapp.com/savingGoalAccounts/V02/transactions/?secuenceNumber=1
    li
      a(href="https://saving-goals.herokuapp.com/savingGoalAccounts/V02/transactions/?secuenceNumber=1") Goals Movements
      span &nbsp;https://saving-goals.herokuapp.com/savingGoalAccounts/V02/transactions/?secuenceNumber=1